[submodule "rtems-tools"]
	path = tools
	url = git@github.com:JJL772/rtems-tools.git
[submodule "bspExt"]
	path = bspExt
	url = git@github.com:slaclab/rtems-libbspExt.git
[submodule "cexp"]
	path = cexp
	url = git@github.com:slaclab/cexpsh.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
