[submodule "rtems-tools"]
	path = tools
	url = git@github.com:JJL772/rtems-tools.git
[submodule "bspExt"]
	path = bspExt
	url = git@github.com:slaclab/rtems-libbspExt.git
[submodule "rtems_waf"]
	path = rtems_waf
	url = https://github.com/RTEMS/rtems_waf.git
[submodule "m4"]
	path = m4
	url = git@github.com:slaclab/rtems-ac-macros.git
[submodule "cexp"]
	path = cexp
	url = git@github.com:slaclab/cexpsh.git
