# boot-it configuration for development
tftpd = true
path = .

[00:06:3B:00:72:23]
file = build-cmake/build-rtems7-uC5282/rtems-init.boot
vend = "BP_PARM=TEST"
ip = 11.0.0.55

[00:06:3B:00:74:F5]
file = build-cmake/build-rtems7-uC5282/rtems-init.boot
vend = "BP_PARM=TEST"
ip = 11.0.0.55
